{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.liked_messages %}

        <li class="list-group-item">
            <a href="/users/{{ message.user.id }}">
                <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
            </a>

            <div class="message-area" data-message-id="{{ message.id }}">
              <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
                <span class="text-muted">
                  {{ message.timestamp.strftime('%d %B %Y') }}
                </span>
                <i class="fa fa-star" style = "background: none; border: none; color:rgb(244, 244, 51);"></i>
                <p><a href="/messages/{{ message.id }}" class='message-link'>{{ message.text }}</a></p>

            </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}