{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <form>
              <a href="/users/{{ user.id }}">@{{ user.username }}</a>
              <span class="text-muted">
                {{ message.timestamp.strftime('%d %B %Y') }}
              </span>
              {% if message.user_id != g.user.id %}
                <button 
                  formaction="/messages/{{ message.id }}/like"
                  formmethod="POST"
                  {% if message.is_liked_by(g.user) %}
                    style = "background: none; border: none; color:rgb(244, 244, 51);">
                    <i class="fa fa-star"></i>
                  {% else %}
                    style = "background: none; border: none;">
                    <i class="far fa-star"></i>
                  {% endif %}
                </button>
              {% endif %}
              <p><a href="/messages/{{ message.id }}" class='message-link'>{{ message.text }}</a></p>
            </form>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}