{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area" id="{{ message.id }}">
              <a href="/users/{{ user.id }}">@{{ user.username }}</a>
              <span class="text-muted">
                {{ message.timestamp.strftime('%d %B %Y') }}
              </span>
              {% if message.user_id != g.user.id %}
                {% if message.is_liked_by(g.user) %}
                  <i class="fa fa-star" style="color:rgb(244, 244, 51)"></i>
                {% else %}
                  <i class="far fa-star" style="color:black"></i>
                {% endif %}
              {% endif %}
              <p><a href="/messages/{{ message.id }}" class='message-link'>{{ message.text }}</a></p>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}